src/__pycache__/
tests/__pycache__/
.venv/
.idea/*
.vscode/*
.github/*
*.egg-info/
*.pyc

*.prof
*.plantuml
*.pdf
*.png
*.html
.coverage


# prevent commit of temporary development files
docker-build/*
imgs-copy/*
requirements.txt
requirements-dev.txt
coverage.txt
docker-files.txt
output.ppm
